/*fonts*/

.special-elite-regular {
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
  }

  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 300 to 700
  
  .quicksand-<uniquifier> {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .fredericka-the-great-regular {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
  }

  /*Universal*/

* {
    margin: 0 auto;
}

html {
    font-size: 20px;
    font-family: "Quicksand", serif;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

body {
    background-color: #ffffff;
}

@media only screen and (max-width: 400px) {
    #welcome {
        background-image: url('../images/puppy.jpg');
        max-width: fit-content;
        background-color: #383737;
        width: 100%;
        height: auto;
        padding: 2rem;
        text-align: center;
        margin: 0;
    }

    .greeting {
        color: white;
    }

    #pupper {
        display: none;
    }

    /* !!! would like to make links a dropdown menu,

    change the products to column list when page shrinks, 
    add employee list (with photos) that is flexible,
    and consolidate all the @media*/
}

a {
    text-decoration: none;
    color:#383737;
}

a:hover {
    color: #636262;
}

h1,
h2,
h3 {
    font-family: "Special Elite", serif;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    font-size: 1.5rem;
}

p {
    font-family: "Quicksand", serif;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
}

ul {
    list-style-type: none;
    display: inline-flex;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*navigation */
nav {
    width: 100%;
    background-color: #ffcd29;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: space-around;
}

nav img {
    width: 10rem;
    height: auto;
    margin: 0;
}

#navlist {
    margin: 1rem 0 0.5rem 0;
    align-items: center;
}

#navlist h3 a{
    color:#383737;
    padding: 15px;
    margin: 0;
    font-family: "Special Elite", serif;
    font-size: 1.2rem;
}

#navlist h3 a:hover {
    color: #636262;
}

@media  and (max-width: 800px) {
    #navlist h3 a{
        font-size: 1.5rem;
    }
}

@media  and (max-width: 400px) {
    #navlist h3 a{
        font-size: 1rem;
    }
}

li {
    margin-right: 3rem;
}

#logo {
    margin-left: 1rem;
}

#logo img {
    height: 5rem;
    width: auto;
}

/*Welcome*/
#welcome {
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.greeting {
    /*width: 25%;*/ flex-basis: 25%;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting h2 {
    justify-content: center;
    margin: 0;
}

#pupper {
    margin-left: 3rem;
    /*width: 70%;*/ flex-basis: 70%;
    flex-grow: 3;
}

#pupper img {
    width: 100%;
}

/*Products*/
#products {
    width: 100%;
    background-color: #ffcd29;
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.letsee {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    overflow: hidden;
}

.letsee h2 {
    justify-content: center;
    width: 100%;
    margin: 0;
    align-items: flex-start;
}

.letsee img {
    width: 100%;
}

/*Affiliates*/
#affil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    width: 60%;
}

#affil .affil_logos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    margin: 0;
}

#affil .affil_logos img {
    width: 25%;
    height: auto;
    
}

#affil .affil_logos #round {
    border-radius: 50%;
}

#affil h2 {
    margin: 0;
}

@media screen and (max-width: 768px) {
    #affli {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 425px) {
    #affli {
        flex-wrap: wrap;
    }
}

/*About*/
#about {
    width: 100%;
    background-color: #ffcd29;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: space-around;
}

#about h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#about h3 {
    font-size: 1rem;
}

#hrs {
    display: flex;
    flex-direction: column;
}

#addr {
    display: flex;
    flex-direction: column;
}

/*Map*/
#map {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: space-around;
}

#map img {
    width: 100%;
    margin: 0;
    
}

/*Footer*/
footer {
    width: 100%;
    height: auto;
    background-color: #ffcd29;
    padding: 2rem;
    margin: 0;
}

footer .socials {
    display: flex;
    justify-content: space-between;
}

footer .fbinsta {
    width: 25%;
}

footer .favicon_logo {
    width: 25%;
}

