/*fonts*/

.special-elite-regular {
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .fredericka-the-great-regular {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
  }

/*Universal*/
html {
  font-size: 18px;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: "Quicksand", serif;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li {
  padding: 0 1rem;
  font-family: "Special Elite", serif;
  letter-spacing: 0.05rem;
}

a {
  color: 	#1A63BD;
  text-decoration: none;
  font-weight: 800;
}


/*Navigation*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #ffcc23;
}

nav #navlist {
  align-self: flex-end;
}

nav #logo {
  width: 25%;
}

nav #logo img {
  width: 100%;
}

/*Welcome*/
#welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
}

#welcome .greeting {
  padding: 0 3rem;
  width: 30%;
}

#welcome .pupper {
  width: 80%;
}

#welcome .pupper img {
  width: 100%;
}

/*Products*/
#products {
  background-color: #ffcc23;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 2rem 2rem;
}

#products .letsee {
  width: 28%;
}

#products .letsee img {
  width: 100%;
}

/*Affiliate*/
#affil {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 2rem 2rem;
}

#affil .affil_who {
  padding: 1rem;
  flex-basis: 80%;
}

#affil .affil_logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

#affil .affil_logos img {
  width: 10rem;
}

#round {
  border-radius: 50%;
}

/*About*/
#about {
  background-color: #ffcc23;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*Map*/
#map {
  overflow: scroll;
  justify-content: center;
}

#map img {
  width: auto;
  min-height: 20rem;
}

/*Footer*/
footer {
  background-color: #ffcc23;
  padding: 1rem;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


/*Media*/
@media only screen and (max-width: 900px) {
  #welcome {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  #welcome .greeting {
    padding: 1rem 0;
    width: 80%;
  }

}

@media only screen and (max-width: 700px) {
  ul {
    padding: 0;
    margin: 0;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  nav #logo {
    justify-self: center;
    width: 8rem;
  }

  nav #navlist {
    align-self: center;
  }

  #products {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #products .letsee {
    width: 80%;
  }

  #affil {
    display: flex;
    justify-content: center;
  }

  #affil .affil_logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .affil_logos img {
    padding: 1rem;
  }

  #about {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 16px;
  }

  nav #logo {
    justify-self: center;
    width: 8rem;
  }
  
}
